<meta charset="UTF-8">
<title>{{ page.title }} - Área administrativa</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="shortcut icon" href="/assets/imagem/favicon.png" type="image/png" />
<meta name="author" content="Libra Design" />
<meta name="keywords" content="" />
<meta property="og:description" content="" />
<meta name="description" content="" />
<meta property="og:title" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content="/assets/imagem/logo-mini.jpg" />
<meta property="og:site_name" content="" />
<meta property="og:type" content="website" />
<link rel="stylesheet" href="/assets/library/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/fonts/stylesheet.css">
<link rel="stylesheet" href="/assets/css/site.css">
<script type="text/javascript" src="/assets/library/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/assets/library/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/library/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/library/cycle2/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="/assets/library/cycle2/jquery.cycle2.swipe.min.js"></script>
<script type="text/javascript" src="/assets/library/cycle2/jquery.cycle2.scrollVert.min.js"></script>
<script type="text/javascript" src="/assets/library/cycle2/jquery.cycle2.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap_site.js"></script>
