<meta charset="UTF-8">
<title>{{ page.title }} - {{ site.name }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta id="viewport" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<link rel="shortcut icon" href="{{ base }}/assets/imagem/favicon.png" type="image/png" />
<meta name="author" content="Libra Design" />
<meta name="keywords" content="" />

<link rel="stylesheet" href="{{ base }}/assets/library/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ base }}/assets/library/jquery-ui-1.11.4.custom/jquery-ui.css">
<link rel="stylesheet" href="{{ base }}/assets/fonts/stylesheet.css">
<link rel="stylesheet" href="{{ base }}/assets/css/simple-line-icons.css">
<link rel="stylesheet" href="{{ base }}/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ base }}/assets/library/upload/css/jquery.fileupload.css">
<link rel="stylesheet" href="{{ base }}/assets/css/dataTables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ base }}/assets/css/site.css">
<script type="text/javascript" src="{{ base }}/assets/library/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/jquery-ui-1.11.4.custom/datepicker-pt-BR.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/dataTables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/upload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/upload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/upload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/cycle2/jquery.cycle2.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/cycle2/jquery.cycle2.swipe.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/cycle2/jquery.cycle2.scrollVert.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/library/cycle2/jquery.cycle2.carousel.min.js"></script>
<script type="text/javascript" src="{{ base }}/assets/js/bootstrap_site.js"></script>
