<a href="#content" class="sr-only">Ir para o conteúdo</a>
<div class="extra-geral">
	<div class="site-geral">
		<header class="extra-header">
			<div class="site-header">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".primary-nav">
								<span class="sr-only">Navegação</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/" title="Voltar para a página inicial">Área administrativa</a>
						</div>
						<div class="collapse navbar-collapse primary-nav">
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown">
									<a href="/">Olá Yuji! <b class="caret"></b></a>
									
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</div> <!-- .container -->
				</nav>
			</div> <!-- .site-header -->
		</header> <!-- .extra-header -->
		<div class="extra-central">
			<div class="site-central" id="content">