<div class="main-nav">
	<div class="navegacao">
		<ul class="nav-left">
			<li><a href="/">Painel</a></li>
			<li>
				<a href="javascript:void(0);">Notícias <b class="caret"></b></a>
				<ul>
					<li><a href="#">Todas as notícias</a></li>
					<li><a href="#">Cadastrar notícia</a></li>
					<li><a href="#">Categorias</a></li>
				</ul>
			</li>
			<li><a href="javascript:void(0);">Páginas <b class="caret"></b></a>
				<ul>
					<li><a href="#">Todas as páginas</a></li>
					<li><a href="#">Cadastrar página</a></li>
				</ul>
			</li>
			<li><a href="javascript:void(0);">Assinaturas <b class="caret"></b></a>
				<ul>
					<li><a href="#">Todos as assinaturas</a></li>
					<li><a href="#">Cadastrar assinatura</a></li>
				</ul>
			</li>
		</ul>
		<div class="nav-left-bg"></div>
	</div>
</div> <!-- .main-nav -->