<!doctype html>
<html lang="pt-BR">
<head>
	{% include head.html %}
</head>

<body class="home">
	<a href="#content" class="sr-only">Ir para o conteúdo</a>
	<div class="extra-geral">
		<div class="site-geral">
			{% include nav.html %}
			<div class="extra-central">
				<div class="site-central" id="content">
					<div class="container-fluid">
						{% include sidebar.html %}
						<div id="main-content" class="main-content">
							<div class="main-body">{{ content }}</div> <!-- .main-body -->
						</div><!-- /#main-content -->
						{% include footer.html %}
					</div> <!-- .container-fluid -->
				</div> <!-- .site-central -->
			</div> <!-- .extra-central -->
		</div> <!-- .site-geral -->
	</div> <!-- .extra-geral -->
	<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>